.violence-item {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  font-family: Montserrat, Helvetica, sans-serif;
  margin-bottom: 20px;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    @media (max-width: 600px) {
      padding: 12px;
    }
  }
  p {
    margin: 8px 0;
    color: rgba(0,0,0,0.87);
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  &__name {
    margin-bottom: 4px;
  }
  &__location {
    font-style: italic;
  }
  &__picture {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 24px;
    min-width: 248px;
    min-height: 248px;
    img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 4px;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
