.app {
  &__header {
    width: 70%;
    margin: auto;
    h1 {
      text-align: center;
      color: black;
      font-size: 7vw;
      font-family: 'Mukta', Arial, Helvetica, sans-serif;
    }
    h2 {
      font-size: 1.5vw;
      font-weight: 500;
      line-height: 2.3vw;
      font-family: Montserrat, Arial, Helvetica, sans-serif;
      text-align: left;
      color: rgba(0, 0, 0, 0.87);
      max-width: 700px;
      margin: auto;
      padding: 0 24px 24px 24px;
    }

    @media (max-width: 600px) {
      width: 90%;

      h1 {
        font-size: 2.5rem;
        line-height: 3.2rem;
      }
      h2 {
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 0 12px 12px 12px;
      }
    }
  }
}
